@charset "utf-8";
/* CSS Document */

body{
    margin:0px;
    padding:0px;
    font-family:"宋体";
    color:#fbfbfb;
    font-size:20px;
    line-height:24px;
}
a{
    color:#666666;
    text-decoration:none;
}
a:hover{
    color:#666666;
    text-decoration:underline;
}
img{
    border:none;
    margin:0px;
    padding:0px;
}




/*-------------------------------------------Banner---------------------------------------------*/
#full-screen-slider {
    width:100%;
    height:567px;
    float:left;
    position:relative;
}
#slides {
    display:block;
    width:100%;
    height:567px;
    list-style:none;
    padding:0;
    margin:0;
    position:relative;
}
#slides li {
    display:block;
    width:100%;
    height:100%;
    list-style:none;
    padding:0;
    margin:0;
    position:absolute;
}
#slides li a {
    display:block;
    width:100%;
    height:100%;
    text-indent:-9999px;
}
#pagination {
    display:block;
    list-style:none;
    position:absolute;
    left:50%;
    top:530px;
    z-index:9900;
    padding:5px 15px 5px 0;
    margin:0;
}
#pagination li {
    display:block;
    list-style:none;
    width:10px;
    height:10px;
    float:left;
    margin-left:15px;
    border-radius:5px;
    background:#FFF;
}
#pagination li a {
    display:block;
    width:100%;
    height:100%;
    padding:0;
    margin:0;
    text-indent:-9999px;
}
#pagination li.current {
    background:#b00000;
}
/*-------------------------------------------Banner End---------------------------------------------*/



/*-------------------------------------------Bottom---------------------------------------------*/
#Bottom{
    background-color:#d9d9d9;
    height:60px;
    margin:0px;
    padding:0px;
    clear:both;
}
.BottomNav{
    width:1002px;
    margin:0px auto;
    padding:0px;
    text-align:center;
    line-height:60px;
}

/*------------------------------------------------------------内页-------------------------------------------------------------*/
#nyBanner{
    margin:0px;
    padding:0px;
    clear:both;
}
#nyBannerNav {
    display:block;
    width:100%;
    height:418px;
    list-style:none;
    padding:0;
    margin:0;
    position:relative;
}
#nyBannerNav span {
    display:block;
    width:100%;
    height:100%;
    list-style:none;
    padding:0;
    margin:0;
    position:absolute;
}

#nyMain{
    width:1002px;
    margin:0px auto;
    padding:0px;
    clear:both;
}
.nyBorder{
    width: 1020px;
    border: #0C0C0C solid 0px;
    float: left;
    overflow: hidden;
    display: inline;
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    padding-top: 25px;
    padding-right: 5px;
    padding-bottom: 25px;
    padding-left: 25px;
}
.nyLeft{
    filter:alpha(Opacity=90);-moz-opacity:0.85;opacity: 0.85;
    background: #0C0C0C;
    width:1000px;
    min-height:450px;
    /*border-right:#0C0C0C solid 1px;*/
    border:2px solid darkslategray;
    border-radius:30px;
    margin:0px;
    padding:0px 5px 0px 5px;
    float:left;
    overflow:hidden;
    display:inline;
}



/*.CommentTitle{
    background-image: url(../images/CommentTitle.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    float: left;
    height: 30px;
    width: 100%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #c80000;
    overflow: hidden;
}*/

/*------------------------------------------------------------内页 End-------------------------------------------------------------*/